<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #061c30;"
>
  <a class="navbar-brand" [routerLink]="['/']" style="color: gray;"
    >Mercado Bitcoin</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a
          class="nav-link"
          [routerLink]="['/']"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/currency']"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Cotação</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/market']"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Mercado</a
        >
      </li>
    </ul>
    <span class="variation">
      Atual: {{ this.currencyService.actualCurrency }}
    </span>

    <span class="variation">
      Variação: {{ this.currencyService.percentCurrency | number: "2.1-2" }}%
      <i
        [ngStyle]="{
          color: this.currencyService.percentCurrency > 0 ? 'green' : 'red'
        }"
        >{{
          this.currencyService.percentCurrency > 0 ? "&#9650;" : "&#9660;"
        }}</i
      >
    </span>
  </div>
</nav>
